<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= @brewery.brewery_name %></h1><br />
	<p>
		<%= @brewery.brewery_address %><br/>
		<%= @brewery.brewery_city %>, <%= @brewery.brewery_state %> <%= @brewery.brewery_zip %>
	</p>
	<p>
		<%= link_to "Website", @brewery.brewery_website, :target => "_blank" %>
		<% if @brewery.brewery_facebook != "" %>
			&nbsp;|&nbsp; <%= link_to "Facebook", @brewery.brewery_facebook, :target => "_blank" %>
		<% end %>
		<% if @brewery.brewery_twitter != "" %>
			&nbsp;|&nbsp; <%= link_to "Twitter", @brewery.brewery_twitter, :target => "_blank" %>
		<% end %>
	</p>
	<p>
		<%= @brewery.brewery_description %>
	</p>
</div>

<div class="col-xs-10 col-xs-offset-1">
	<br /><br />
	<h2>Beers from <%= @brewery.brewery_name %></h2>
	<br />
	<% @beers.each do |beer| %>
		<% if beer.brewery_id == @brewery.id %>
			<strong><%= link_to beer.beer_name, beer_path(beer) %></strong><br />
			<%= beer.beer_style %><br />
			<%= beer.beer_abv %> ABV &nbsp;|&nbsp; <%= beer.beer_ibu %> IBU
			<hr />
		<% end %>
	<% end %>
</div>