<% @beers.each do |beer| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h2><%= beer.beer_name %></h2>
    <p><%= beer.beer_style %> &nbsp; | &nbsp; <%= beer.beer_abv %>% ABV &nbsp; | &nbsp; <%= beer.beer_ibu %> IBUs</p><br />
    <p><%= beer.beer_description %></p>
  </div>

<% end %>