<% @beers.each do |beer| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h2><%= link_to beer.beer_name, beer_path(beer) %></h2>
    <p>
    	<strong><%= beer.beer_style %></strong><br />
    	<%= beer.beer_abv %>% ABV &nbsp;|&nbsp; <%= beer.beer_ibu %> IBU
    </p>
    <%= link_to 'More Info', beer_path(beer), :class => 'btn btn-primary pull-right', :role => 'button' %>
  </div>

<% end %>