<!DOCTYPE html>
<html>
<head>
  <title>Track Beer Fests | The Only App To Track All Your Beer Fests</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class="col-xs-8 col-sm-4 col-md-3 ">
		<div class="logo">
		  <span class="symbol"></span>
		  <h1 class="title">
		    <%= link_to 'Track Beer Fests', '#' %>
		  </h1>
		</div>
	</div>
	<div class="hidden-xs col-sm-6 col-md-6  slogan">
		The only app to track all your beer fests
	</div>
	<div class="col-xs-2 col-sm-2 col-md-3  nav">
		<p>
			<a class="btn btn-primary" role="button">Sign Up</a>
		</p>
	</div>
</header>

<hr />

<br class="clear" />

<div class="container">
	<%= yield %>
</div>

<div class="footer">
	<div class="container">
		<div class="col-xs-6">
        	&copy; 2015 <%= link_to 'Track Beer Fests', '#' %>. All Rights Reserved.
        </div>
        <div class="col-xs-6">
        </div>
    </div>
</div>

</body>
</html>
